<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
<parameter name="username" value="13979119630" />
  <test name="Test" thread-count="3" parallel="methods">
    <classes>
      <class name="selenuim_lesson.周测Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
